// Helvetica Neue Font Weights
$ultra-light: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$main-font:"Helvetica Neue", Helvetica, Verdana, sans-serif;
$serif:"Georgia", serif;
$monospace:Menlo, Monaco, "Courier New", monospace;